.main-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 50px;   
}

.result-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #143601;
}

.cards-result{
    margin-top: 5vh;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 20px;
    justify-items:center ;
}

.text-input-wrapper {
    margin: 0 auto;
    width: 50vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}