.product-review-content {
    display: flex;
    /*height: 70vh;*/
}

.review-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 0px 100px 0px 100px;
}

.review-containers h1 {
    font-size: 2rem; 
    text-align: center;
    color: #1A4301;
    margin-bottom: 5vh;
}

.entrega-review {
    margin-bottom: 7vh;
}

.produtos-review,
.entrega-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.produtos-review p,
.entrega-review p {
    font-size: 1.5rem;
}

#produto,
#entrega {
    width: 100%;
    height: 200px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    background-color: #AAD576;
}

.produtos-vendedor {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 1vh;
}

.vendedor-photo {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.produtos-vendedor span {
    font-size: 1.2rem;
}

.stars-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.entrega-stars,
.produtos-stars {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrega-stars h1,
.produtos-stars h1 {
    font-size: 1.7rem;
}

.produtos-stars p {
    width: 50%;
    font-size: 1.3rem;
    margin-top: 10px;
}

.produtos-stars a {
    color: #73A942;
    text-decoration: underline;
}

@media (max-width: 1140px) {
    #produto,
    #entrega {
        height: 370px;
    }
}

@media (max-width: 930px) {
    .product-review-content {
        flex-direction: column;
        gap: 7vh;
    }

    .review-containers {
        width: 100%;
        padding: 0px 30px 0px 30px;
    }

    .review-containers h1 {
        font-size: 1.5rem;
    }

    .entrega-review {
        margin-bottom: 5vh;
    }

    .produtos-review,
    .entrega-review {
        gap: 1vh;
    }

    .produtos-review p,
    .entrega-review p {
        font-size: 1.2rem;
    }

    #produto,
    #entrega {
        width: 100%;
        font-size: 1rem;
    }

    .produtos-vendedor {
        gap: 2vh;
    }

    .produtos-vendedor span {
        font-size: 0.9rem;
    }

    .stars-container {
        width: 100%;
        padding: 0px 30px 0px 30px;
    }

    .entrega-stars {
        margin-bottom: 5vh;
    }

    .entrega-stars h1,
    .produtos-stars h1 {
        font-size: 1.5rem;
    }

    .produtos-stars p {
        width: 100%;
        font-size: 1.1rem;
        margin-bottom: 10vh;
    }
}
