.input-container{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2vh 5vw 10vh 5vw;
}

@media (max-width:730px) {
    .input-container{
        flex-direction: column;
    }
}