.toggle-switch-container {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #AAD576;
}

input:focus + .slider {
    box-shadow: 0 0 1px #AAD576;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.percentage-input-container {
    position: relative;
}

.percentage-input-none {
    display: none;
}

.input-active {
    animation: fadeIn 0.3s ease-in-out;
    width: 100px;
    font-size: 1.7rem;
    text-align: center;
    border: solid 1px #538D22;
    border-radius: 10px;
    padding-right: 1em;
}

.percentage-symbol::after {
    content: '%';
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    pointer-events: none;
}

@media (max-width: 768px) {
    .input-active {
        width: 60px;
        font-size: 1.3rem;
    }

    .percentage-symbol::after {
        font-size: 1rem;
    }
}
