.add-image-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 2rem;
    font-weight: 400;
    color: #143601;
    padding-bottom: 1vh;
}

.subtext {
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #4E4C4C;
    padding-bottom: 3vh;
}

.image-button {
    width: 220px;
    height: 220px;
    background-color: #AAD576;
    background-image: url(../../imgs/add_photo_icon.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
     background-size: 110px;
    border-radius: 100%;
    transition: all 0.5s;
}

.image-button:hover {
    background-color: #aad5768b;
    transition: all 0.3s;
}

.image-button:active {
    background-color: #4e6138;
    transition: all 0s;
}
