.add-image-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7vh;
}

.text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #143601;
    padding-bottom: 1vh;
}

.subtext {
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #4E4C4C;
    padding-bottom: 3vh;
}

.image-button {
    width: 220px;
    height: 220px;
    background-color: #AAD576;
    background-image: url(../../imgs/add_photo_icon.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    background-size: 110px;
    border-radius: 100%;
    transition: all 0.5s;
}

input[type='file'] {
    display: none
}

.image-preview {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: dashed 2px #AAD576;
    transition: all 0.5s;
}

.modify-image {
    background-color: #AAD576;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 2vh;
}

.image-button:hover,
.modify-image:hover {
    background-color: #aad5768b;
    transition: all 0.3s;
}

.image-button:active,
.modify-image:active {
    background-color: #4e6138;
    transition: all 0s;
}

@media (max-width: 768px) {
    .add-image-container {
        margin-top: 3vh;
    }

    .text {
        font-size: 1.5rem;
    }

    .subtext {
        font-size: 1rem;
    }

    .image-button {
        width: 110px;
        height: 110px;
        background-size: 60px;
    }

    .image-preview {
        width: 110px;
        height: 110px;
        margin-bottom: 2vh;
    }
}
