.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.main-address{
    height: 100vh;
}

.profile-container{
    display: flex;
    align-items: center;
    height: 85vh;
}

.options-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}