.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.profile-container{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    height: 85vh;
}

.options-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}