.shopping-cart-item-container {
    width: max-content;
    display: flex;
    gap: 2vw;
    

}

.item-check {
    width: 1.7vw;
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    border: 2px solid #538D22;
    border-radius: 5px;
    padding: 2vh 3vw 2vh 3vw;
    width: max-content;

   margin-right: 2%;
   margin-bottom: 2%;
}

.item-image {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.name {
    font-weight: bolder;
    color: #245501;
    font-size: 2.2rem;
    width: fit-content;
}
.image {
    width: 10vw;
}
.item-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;

}
.total {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.unit {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 0.7rem;
    color: #5A5A5A;
}

.price-card {
    font-weight: bolder;
    color: #245501;
    font-size: 2.2rem;
}

@media(max-width:768px){
    .shopping-cart-item-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2vw;
    }
    .item-info{
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .item-check{
        width: 6%;
    }
    .item-image{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    .name{
        width: fit-content;
    }
}