.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fair-container {
  width: 55vw;
  background-color: #73a942;
  display: flex;
  align-items: center;
  border-radius: 10px 0px;
  padding: 20px;
  gap: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.visible {
  opacity: 1;
  filter: grayscale(0%)
}

.hidden {
  opacity: 1;
  filter: grayscale(100%)
}


.fair-image {
  width: 250px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fair-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  white-space: nowrap; /* Evita quebra de linha */
  overflow: hidden; /* Esconde o conteúdo que não couber no espaço disponível */
  text-overflow: ellipsis; /* Adiciona reticências para indicar que há mais conteúdo além do que está sendo mostrado */
  max-width: 38vw; /* Define a largura máxima do elemento */
}

.data-type {
  font-size: 1.3rem;
  font-weight: 400;
  color: #143601;
}

.data-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

#days {
  padding-bottom: 20px;
}

@media(max-width: 1250px) {
  .fair-container {
    flex-direction: column;
  }

  .fair-image {
    width: 100%;
  }

  .fair-info {
    width: 100%;
  }

  .name {
    font-size: 1.3rem;
    max-width: 50vw; /* Define a largura máxima do elemento */
  }

  .data-type {
    font-size: 1rem;
  }
  
  .data-text {
    font-size: 1.2rem;
  }
}

@media(max-width: 820px) {
  .fair-container {
    width: 80vw;
  }

  .name {
    max-width: 75vw;
  }
}
