.next-button-container {
    width: 80px;
    height: 80px;
    background-image: url(../../imgs/prev-icon.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 38%;
    border: solid 1px rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    transform: rotate(180deg);
    transition: all 1s;
    cursor: pointer;
    flex: none;
}

.next-button-container:active {
    background-color: #AAD576;
    transition: all 0s;
}