.type-user-select-container {
    display: flex;
    flex-direction: column;
}

.welcome-container {
    min-height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.welcome-message {
    display: flex;
    flex-direction: column;
}

.welcome-text {
    width: 20vw;
    font-weight: 400;
    font-size: 3rem;
}

.welcome-image {
    width: 30vw;
    height: 40vh;
    background-image: url(../../imgs/fruits_greenery.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.strong-welcome-text {
    font-weight: bold;
    color: #538D22;
}

.user-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.user-select-text {
    max-width: 24vw;
    font-weight: 400;
    color: #245501;
}

@media (max-width: 768px) {
    .header-icon {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    
    .welcome-message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .welcome-text {
        width: 70vw;
        font-size: 2rem;
    }
    
    .welcome-image {
        width: 100vw;
    }
    
    .user-select {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
    
    .user-select-text {
        min-width: 70%;
        font-size: 1.7rem;
        color: #245501;
    }
}
