.product-category-container {
    width: fit-content;
    display: flex;
    gap: 5vw;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    transition: all 0.5s;
}

.category-item:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.category-image {
    width: 150px;
    height: 110px;
}

.image {
    width: 100%;
    height: 100%;
}

.category-name{
    font-weight: 400;
    color: #000;
    transition: all 0.5s;
    cursor: pointer;
}

.category-name:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
}

@media(max-width: 1380px) {
    .category-image {
        width: 100px;
        height: 80px;
    }
}

@media(max-width: 1220px) {
    .product-category-container {
        gap: 3vw;
    }

    .category-image {
        width: 80px;
        height: 65px;
    }

    .category-name {
        font-size: 1.5rem;
    }
}

@media(max-width: 1000px) {
    .category-image {
        width: 80px;
        height: 65px;
    }

    .category-name {
        font-size: 1.5rem;
    }
}

@media(max-width: 768px) {
    .category-item {
        gap: 0vh;
    }

    .category-image {
        width: 60px;
        height: 45px;
    }

    .category-name {
        font-size: 0.7rem;
    }
}
