.info-buy-container{
    border: #538D22;
    border-style: solid;
    display: flex;
    width: max-content;
    border-radius: 5px;
    
}
.img-infobuy{
    height: 200px;
    width: 300px;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.text-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #538D22;
    gap: 12px;
    width: 100%;
}
.name-costumer{
    font-size: 2rem;
}   
.name-fair{
    font-size: 1.5rem;
}
.date-buy{
    font-size: 1.5rem;

}
.price-buy{
    font-size: 1.8rem;
    font-weight: bold;
}
.price-buy-disabled{
    display: none;
}

@media(max-width:768px){
    .info-buy-container{
        display: flex;
        flex-direction: column;
        border: #538D22;
        border-style: solid;
        display: flex;
        width: max-content;
        border-radius: 5px;
    }
    .img-infobuy{
        height: 200px;
        width: 300px;
        border-radius: 5px;
    }
    .text-info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #538D22;
        gap: 12px;
        width: 100%;
    }
    .name-costumer{
        font-size: 2rem;
    }   
    .name-fair{
        font-size: 1.5rem;
    }
    .date-buy{
        font-size: 1.5rem;
        font-weight: bold;
    }
}