.insert-product-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.data-containers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.insert-product-data {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.insert-image-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14vh;
}

.drop-box {
    display: flex;
    gap: 1vw;
    padding-bottom: 3vh;
}

.drop-box select {
    width: fit-content;
    font-size: 1.5rem;
    border: solid 1px #538D22;
    border-radius: 10px;
    padding: 5px;
}

.product-input-title {
    color: #245501;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 1vh;
}

.product-input {
    font-size: 1.5rem;
    border: solid 1px #538D22;
    border-radius: 10px;
    padding: 5px;
}

.input-container {
    padding-bottom: 3vh;
}

.input-container textarea {
    font-size: 1.5rem;
    border: solid 1px #538D22;
    border-radius: 10px;
    padding: 5px;
    resize: none;
}

.promotion {
    display: flex;
    flex-direction: column;
}

.price-values {
    display: flex;
    flex-direction: column;
}

#options-weight {
    display: flex;
    flex-direction: column;
}

.options-weight {
    display: flex;
    gap: 1vw
}

.product-weight {
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    gap: 0.5vw;
}

.product-price {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.product-price-coin {
    color: #245501;
    font-weight: 400;
    font-size: 1.5rem;
}

.register-button {
    display: flex;
    justify-content: center;
}
