* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 0;
  border: 0 none;
  text-decoration: none;
  outline: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.custom-button-color {
  background-color: #538d22 !important;
  color: white !important;
}

.custom-button-cancel-color {
  background-color: rgb(211, 102, 102) !important;
  color: white !important;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 13vh;
  margin-bottom: 5vh;
  background-color: #aad5764a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0px 100px;
}
.rotate { 
  display: flex;
  flex-direction: row;
 }
.header-without-margins {
  margin-bottom: 0;
}

.footer-without-margins {
  margin-top: 0;
}

footer {
  margin-top: 5vh;
}

a {
  text-decoration: none;
  color: #fff;
}

.link-black-color {
  color: #000;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

select {
  background-color: transparent;
}

#burger-menu-container {
  display: none;
}

.button-add-image-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.text-icon,
.icon-yvy {
  width: 70px;
}

.sign-container {
  display: flex;
  align-items: center;
  gap: 26px;
}

.sign-up {
  font-size: 1.2rem;
  cursor: pointer;
  color: #143601;
}

.sign-up:active {
  text-decoration: underline;
}

.sign-in {
  background-color: #73a942;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  border-radius: 10px 0px;
  color: white;
  cursor: pointer;
  transition: all 1s;
}

.sign-in:hover {
  background-color: #638b3e;
  transition: all 0s;
}

.sign-in:active {
  background-color: #73a942;
}

.btn {
  width: 12vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  padding: 30px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.btn-success {
  background-color: #538d22;
}

.btn-error {
  background-color: rgb(221, 51, 51);
}

.inputs-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aad576;
  padding: 50px;
  border-radius: 10px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputs h1 {
  font-size: 2rem;
  color: #143601;
  padding-bottom: 3vh;
}

.save-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.prev-page-button {
  width: fit-content;
  background-color: transparent;
  padding: 20px;
  cursor: pointer;
  position: absolute;
}

.prev-page-icon {
  transition: all 0.5s;
}

.prev-page-button:hover .prev-page-icon {
  transform: scale(1.1);
  transition: all 0.5s;
}

.amount {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.sub-button {
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  background-image: url(../imgs/sub_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3rem;
  border-radius: 5px;
}

.sub-button:hover {
  background-color: #b0b0b0;
}

.sub-button:active {
  background-color: #fff;
  border: 1px solid black;
  transition: all 0s;
}

.amount h1 {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #000;
  font-size: 2.5rem;
}

.add-button {
  min-width: 60px;
  min-height: 60px;
  background-color: #538d22;
  background-image: url(../imgs/add_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #538d22;
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
  border-radius: 5px;
}

.options-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.add-button:hover {
  background-color: #528d227a;
}

.add-button:active {
  background-color: #2c4a14;
  transition: all 0s;
}

.sub-button,
.add-button {
  transition: all 0.5s;
}

.default-label {
  color: #245501;
}

@media (max-width: 980px) {
  #burger-menu-container {
    display: flex;
  }

  header {
    position: relative;
    padding: 0px 50px 0px 50px;
  }

  #sign-header .text-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 8vh;
  }

  .text-icon,
  .icon-yvy {
    width: 60px;
  }

  .prev-page-icon {
    width: 50px;
  }

  .sign-up {
    font-size: 1rem;
  }

  .sign-in {
    font-size: 1rem;
  }

  .amount {
    width: 10vw;
  }

  .inputs {
    padding: 50px 20px 50px 20px;
  }
}

@media (max-width: 600px) {
  #sign-header {
    padding: 0px 20px 0px 20px;
  }
}
