* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-family: "Space Grotesk", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px 10px 45px;
}

a {
  text-decoration: none;
}

.text-icon {
  width: 70px;
}

.sign-container {
  display: flex;
  align-items: center;
  gap: 26px;
}

.sign-up {
  font-size: 1.2rem;
  cursor: pointer;
}

.sign-up:active {
  text-decoration: underline;
}

.sign-in {
  background-color: #73a942;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  border-radius: 10px 0px;
  color: white;
  cursor: pointer;
  transition: all 1s;
}

.sign-in:hover {
  background-color: #638b3e;
  transition: all 0s;
}

.sign-in:active {
  background-color: #73a942;
}

.btn {
  width: 12vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  padding: 30px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.btn-success {
  background-color: #538d22;
}
.btn-error {
  background-color: rgb(221, 51, 51);
}

.inputs-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: #AAD576;
  padding: 2vh 3vw 10vh 3vw;
  border-radius: 10px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputs h1 {
  color: #143601;
  padding-bottom: 3vh;
}

.save-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.prev-page-button {
  width: fit-content;
  background-color: transparent;
  padding: 20px;
  cursor: pointer;
  position: absolute;
}

.prev-page-icon {
  transition: all 0.5s;
}

.prev-page-button:hover .prev-page-icon {
  transform: scale(1.1);
  transition: all 0.5s;
}
