.main-container-cart{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}
.payment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vw;
}
.payment-option{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.7rem;
}