.add-product-icon {
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s;
    border-radius: 50%;
}

.add-product-icon:hover {
    background-color: #aad5767b;
    transition: all 0.5s;
}

.add-product-icon:active {
    background-color: #2455017e;
    transition: all 0s;
}

.registered-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3vh 10vw 3vh 10vw;
    justify-items: center;
}
