.float-button {
  position: fixed;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  top: 80%;
  right: 1%;
  bottom: 50%;
  gap: 10px;
  background-color: aqua;
}

.add-product-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  cursor: pointer;
  padding: 50px;
  transition: all 0.5s;
  border-radius: 50%;
}

.add-product-icon:hover {
  background-color: #aad5767b;
  transition: all 0.5s;
}

.add-product-icon:active {
  background-color: #2455017e;
  transition: all 0s;
}

.text-hidden {
  font-weight: 400;
}

.seller-products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registered-products {
  display: grid;
  min-height: 74vh;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  place-items: center;
  gap: 50px;
  margin-bottom: 4vh;
}

.history-not-found {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media(max-width: 1200px) {
  .registered-products {
    display: flex;
    flex-direction: column;
  }
}
