.main-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;   
}

.inner-circle{
    background-image: url(../../imgs/shopping_cart_icon.svg);
    background-position: 60%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #538D22;
    border-radius: 50%;
    height: 75%;
    width: 75%;
}

@media(max-width:768px){
    .main-circle{
        display: none;
    }
}