.rating-stars-container {
    height: 150px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@keyframes fade {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.reset-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    animation-name: fade;
    animation-duration: 0.3s;
}

.rating-stars-container button {
    width: 80px;
    height: 30px;
    font-size: 1rem;
    background-color: #AAD576;
    cursor: pointer;
    border-radius: 15px;
    color: #245501;
}