
.all-content-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.nav-card-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.cards{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    padding-top: 25%;
    overflow-y: scroll;
}

@media(max-width:768px){
    .map-container{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
}