
.main-card-address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.button-adress-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 50%;
    width: 20vw;
}
.cards-container-address{
    display: grid; 
    grid-template-columns: repeat(2, 0.5fr);
    justify-items:center;
    align-items: center;
    width: 100%;
    height: 100%;
} 