.main-card-address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards-container-address{
    margin-top: 5vh;
    width: 75%;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    justify-items:center; 
}

.button-adress-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 400; 
    font-size: 1.5rem;
    color: #245501;
}

.card-button-addres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    width: 100%;
    height: 100%;
}
 