.shopping-item-container {
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2vh;
    border: 1px solid #538D22;
    border-radius: 10px;
    flex: none;
    cursor: pointer;
    transition: all 0.3s;
}

.shopping-item-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.shopping-item-container-noPromo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2vh;
    border: 1px solid #538D22;
    border-radius: 10px;
}

.header-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.name {
    color: #245501;
    font-size: 1.6rem;
    font-weight: 700;
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Esconde o conteúdo que não couber no espaço disponível */
    text-overflow: ellipsis; /* Adiciona reticências para indicar que há mais conteúdo além do que está sendo mostrado */
    max-width: 300px; /* Define a largura máxima do elemento */
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.image {
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item-numbers {
    display: flex;
    justify-content: space-between;
}

.numbers {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #7D7D7D;
}

.weight {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    color: #747474;
}

.price-general {
    font-weight: 700;
    font-size: 2rem;
    white-space: nowrap;
    color: #245501;
}

.cart-icon {
    width: 50px;
    height: 50px;
    background-image: url(../../imgs/shopping_cart_icon.svg);
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: center;
    background-size: 37px;
    background-color: #245501;
    border-radius: 30px;
}

.cart-icon:hover {
    background-color: #327700;
}

.cart-icon:active {
    background-color: #153200;
}

.promotion-img {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media(max-width: 1470px) {
    .shopping-item-container {
        width: 250px;
        padding: 10px;
    }

    .name {
        font-size: 1.4rem;
        max-width: 150px;
    }

    .image {
        height: 100px;
    }

    .item-numbers {
        flex-direction: column;
        gap: 10px;
    }

    .cart-icon-box {
        display: flex;
        justify-content: end;
    }
}

@media(max-width: 768px) {
    .shopping-item-container {
        justify-content: center;
        padding: 10px;
    }

    .name {
        font-size: 1.5rem;
    }

    .price-general {
        font-weight: 700;
        line-height: 31px;
        color: #245501;
    }

    .weight {
        font-size: 0.7rem;
    }

    .item-image {
        width: 70px;
        height: 70px;
    }

    .promotion-img {
        width: 45px;
        height: 45px;
    }

    .cart-icon-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .cart-icon {
        width: 45px;
        height: 45px;
        background-size: 30px;
        background-position: 62%;
    }

    .item-numbers {
        flex-direction: column;
    }
}