.product-containers {
    display: flex;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-main {
    display: flex;
    gap: 3vw;
}

.image-container {
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url(../../imgs/green_wave.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-image {
    width: 60%;
    height: 100%;
}

.texts .title {
    font-size: 3rem;
    color: #31572C;
    font-weight: 400;
}

.review {
    display: flex;
    align-items: center
}

.grade {
    font-size: 1.7rem;
    font-weight: 400;
    color: #73A942;
    padding-left: 1vw;
}

.grade-info {
    padding-left: 2vw;
}

.review-count,
.order-count {
    font-size: 1.5rem;
    font-weight: 400;
    color: #143601;
}

.price-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2vh;
    background-color: blue;
}

.user-name {
    font-size: 1.7rem;
    color: #C2C1BF;
}

.unit {
    font-size: 1.5rem;
    color: #999999;
}

.price-amount {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    background-color: aqua;
}

.price {
    font-size: 4rem;
    color: #245501;
}

.texts {
    background-color: brown;
}
