.product-containers {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.product-info {
    display: flex;
    flex-direction: column;
    /*
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='5120' height='2880' preserveAspectRatio='none' viewBox='0 0 5120 2880'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='5120' height='2880' x='0' y='0' fill='rgba(170%2c 213%2c 118%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c2518.846C485.896%2c2517.85%2c1053.407%2c2505.959%2c1378.266%2c2144.624C1703.454%2c1782.923%2c1525.767%2c1212.993%2c1605.417%2c733.169C1661.317%2c396.417%2c1794.057%2c85.47%2c1776.674%2c-255.447C1757.94%2c-622.862%2c1738.658%2c-1019.813%2c1501.687%2c-1301.219C1263.787%2c-1583.728%2c872.586%2c-1661.54%2c514.95%2c-1753.759C167.757%2c-1843.285%2c-187.827%2c-1910.818%2c-536.382%2c-1826.75C-895.423%2c-1740.153%2c-1187.546%2c-1511.364%2c-1471.127%2c-1274.739C-1802.956%2c-997.855%2c-2258.322%2c-761.284%2c-2325.013%2c-334.286C-2391.686%2c92.598%2c-1951.836%2c417.414%2c-1798.507%2c821.351C-1630.354%2c1264.341%2c-1726.489%2c1825.049%2c-1381.903%2c2150.282C-1028.037%2c2484.273%2c-486.59%2c2519.844%2c0%2c2518.846' fill='%2371a533'%3e%3c/path%3e%3cpath d='M5120 4915.273999999999C5487.976 4840.74 5725.04 4505.151 6000.397 4249.924 6228.5740000000005 4038.428 6426.469 3815.834 6591.022 3551.793 6778.241 3251.381 7040.286 2959.764 7024.826 2606.127 7009.027 2244.7380000000003 6778.317 1917.9279999999999 6509.035 1676.394 6256.355 1449.751 5896.064 1436.498 5580.744 1310.851 5224.684 1168.97 4915.655 839.606 4535.704 890.069 4148.117 941.547 3866.676 1276.634 3611.0190000000002 1572.461 3355.627 1867.981 3134.255 2199.978 3070.626 2585.3450000000003 3006.263 2975.157 3096.416 3369.861 3254.4570000000003 3731.965 3414.443 4098.523999999999 3638.3559999999998 4445.724 3976.0950000000003 4659.951 4312.829 4873.54 4729.176 4994.436 5120 4915.273999999999' fill='%23e1f0cf'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='5120' height='2880' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    */
    border-radius: 50px;
    gap: 5vh;
}

.product-main {
    display: flex;
    gap: 3vw;
}

.image-container {
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.texts .title {
    font-size: 3rem;
    color: #31572C;
    font-weight: 400;
}

.review {
    display: flex;
    align-items: center
}

.grade {
    font-size: 1.7rem;
    font-weight: 400;
    color: #73A942;
    padding-left: 1vw;
}

.grade-info {
    padding-left: 2vw;
}

.review-count,
.order-count {
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
    color: #143601;
}

.price-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2vh;
}

.user-name {
    font-size: 1.7rem;
    color: #C2C1BF;
}

.unit {
    font-size: 1.5rem;
    color: #999999;
}

.price-amount {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    /* max-width: 100px; */
    font-size: 4rem;
    color: #245501;
    white-space: nowrap; 
}

.texts {
    width: 30vw;
}

.product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #31572C;
}

.description-title {
    font-size: 3rem;
    font-weight: 400;
}

.description-text {
    width: 30vw;
    font-size: 1.5rem;
    font-weight: 400;
}

.add-cart-button {
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #538D22;
    background-color: white;
    font-size: 1.5rem;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
    border: 2px solid #538D22;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 1vw;
}

.add-cart-button:hover {
    background-color: #AAD576;
    color: white;
    transition: all 0.3s; 
}

.add-cart-button:active {
    background-color: #4e6138;
    transition: all 0s;
}

@media (max-width: 1700px) {
    .price-amount {
        flex-direction: column;
        align-items: center;
    }

    .price {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .review {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .grade,
    .grade-info {
        padding-left: 0vw;
    }
}

@media (max-width: 768px) {
    .product-main {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 90%;
    }

    .review {
        flex-direction: column;
    }

    .grade-info {
        display: flex;
        padding-left: 0vw;
        gap: 10vw;
    }

    .review-count,
    .order-count {
        font-size: 1rem;
        white-space: nowrap;
    }

    .texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texts .title {
        font-size: 2rem;
    }

    .user-name {
        padding-top: 2vh;
        font-size: 1rem;
    }

    .price-result {
        width: fit-content;
    }

    .price-amount {
        width: fit-content;
        flex-direction: column;
        gap: 2vh;
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: #245501;
        white-space: nowrap; 
    }

    .product-footer {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding: 50px;
    }

    .description-title {
        font-size: 2rem;
    }

    .description-text {
        width: 90%;
        font-size: 1rem;
    }

    .add-cart-button {
        width: 50vw;
        height: 10vh;
    }

    .add-cart-button img {
        width: 30px;
    }

    .add-cart-button span {
        font-size: 1.1rem;
    }
}
