.nav-bar-container {
    background-color:#538D22;
    border-radius:  0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 10%;
    justify-content: space-evenly;
}
.menu-burguer-container{
    display: none;
}

.nav{
    background-color: tomato;
    height: fit-content;

}

.upper-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.lower-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
}

.bar-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #73A942;
    border-radius: 100%;
    transition: all 0.5s;
}

.bar-image:hover {
    background-color: #AAD576;
    transition: all 0.5s;
}

.bar-image:active {
    background-color: rgba(255, 255, 255, 0.647);
    transition: all 0s;
}

.icon{
    width: 30px;
    height: 30px;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 140%;
    height: 50%;
}

@media (max-width:768px) {
    .nav-bar-container{
        background-color: white;
    }

    .upper-nav{
        display: none;
    }
    .lower-nav{
        display: none;
    }
    
    
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
      }
      
      /* Color/shape of burger icon bars */
      .bm-burger-bars {
        background: #373a47;
      }
      
      /* Color/shape of burger icon bars on hover*/
      .bm-burger-bars-hover {
        background: #a90000;
      }
      
      /* Position and sizing of clickable cross button */
      .bm-cross-button {
        height: 24px;
        width: 24px;
      }
      
      /* Color/shape of close button cross */
      .bm-cross {
        background: #bdc3c7;
      }
      
      /*
      Sidebar wrapper styles
      Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
      */
      .bm-menu-wrap {
        position: fixed;
        height: 100%;
      }
      
      /* General sidebar styles */
      .bm-menu {
        background: transparent;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
      }
      
      /* Morph shape necessary with bubble or elastic */
      .bm-morph-shape {
        fill: #373a47;
      }
      
      /* Wrapper for item list */
      .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
      }
      
      /* Individual item */
      .bm-item {
        display: inline-block;
      }
      
      /* Styling of overlay */
      .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
      }
    
}