.burger-menu-container {
    display: none;
}

.icon {
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 44px;
    cursor: pointer;
}

.burger {
    top: 1vh;
    width: 30px;
    height: 6px;
    background-color: #143601;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-top: 15px;
}

.burger::before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background-color: #143601;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.burger::after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background-color: #143601;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 1%;
    padding: 45px 0 0;
    flex-wrap: nowrap;
    color: #143601;
    font-size: 1.2rem;
    font-weight: 400;
}

.list .list-items {
    padding: 0;
    list-style: none;
}

.list .list-items li {
    margin: 2px 8px;
    cursor: pointer;
    margin-bottom: 50px;
}

.list .list-items li:hover {
    font-weight: 700;
}

.icon.icon-active .burger {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}

.icon.icon-active .burger::after {
    top: 0;
    background: #143601;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.icon-active .burger::before {
    top: 0;
    background: #143601;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }
}

.menu.menu-open {
    width: 250px;
    height: 60vh;
    background: #AAD576;
    box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);
    border-radius: 0px 50px 50px 0px;
    animation-name: slide;
    animation-duration: 0.3s;
}

.menu.menu-close {
    display: none;
    width: 0px;
}

@media(max-width: 768px) {
    .burger-menu-container {
        display: flex;
        position: absolute;
        min-height: 100vh;
        max-width: 100vw;
        width: 100vw;
    }
}
