.burger-menu-container {
    display: none;
}

.icon {
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 44px;
    cursor: pointer;
}

.burger {
    width: 50px;
    height: 8px;
    background-color: #143601;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 20px;
}

.burger::before {
    top: -18px;
    content: '';
    position: absolute;
    width: 70px;
    height: 8px;
    background-color: #143601;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.burger::after {
    top: 18px;
    content: '';
    position: absolute;
    width: 70px;
    height: 8px;
    background-color: #143601;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 1%;
    padding: 45px 0 0;
    flex-wrap: nowrap;
    color: #143601;
    font-size: 1.5rem;
    font-weight: 400;
}

.list .list-items {
    padding: 0;
    list-style: none;
}

.list .list-items li {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 2px 8px;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: #14360121;
    padding: 10px;
    border-radius: 15px;
}

.list .list-items li:hover {
    font-weight: 700;
}

.list .list-items li img {
    width: 30px;
}

#profile {
    width: 20px;
}

.icon.icon-active .burger {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}

.icon.icon-active .burger::after {
    top: 0;
    background: #143601;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.icon-active .burger::before {
    top: 0;
    background: #143601;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
    from {
        width: 0px;
    }

    to {
        width: 400px;
    }
}

.menu.menu-open {
    width: 400px;
    height: 60vh;
    background: #AAD576;
    box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);
    border-radius: 0px 15px 15px 0px;
    animation-name: slide;
    animation-duration: 0.3s;
}

.menu.menu-close {
    display: none;
    width: 0px;
}

@media(max-width: 980px) {
    .burger-menu-container {
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 6;
    }

    .burger {
        top: 40px;
        left: 30px;
    }
}

@media(max-width: 768px) {
    .burger {
        top: 19px;
        left: 50px;
        width: 40px;
        height: 7px;
    }
    
    .burger::before {
        top: -16px;
        width: 50px;
        height: 7px;
    }
    
    .burger::after {
        top: 16px;
        width: 50px;
        height: 7px;
    }
}

@media(max-width: 600px) {
    .burger {
        left: 20px;
    }
}

@media(max-width: 400px) {
    .menu.menu-open {
        width: 300px;
        height: 70vh;
    }

    .list {
        font-size: 1rem;
    }
}
