.update-feirante-account-container {
    display: flex;
    flex-direction: column;
}

.update-content {
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 50%;
}

.green-button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .update-content {
        flex-direction: column;
    }

    .update-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        display: none;
    }

    .green-button {
        width: 100%;
        padding-top: 5vh;
    }
}
