.update-consumidor-account-container {
    display: flex;
    flex-direction: column;
}

.update-content {
    min-height: 55.5vh;
    display: flex;
    justify-content: space-between;
}

.info-inputs {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.update-inputs {
    width: 50%;
    height: fit-content;
}

.nav-bar {
    width: 10%;
}

.green-button {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 980px) {
    .update-content {
        width: 100%;
        justify-content: space-evenly;
        gap: 50px;
    }

    .info-inputs {
        justify-content: space-between;
    }

    .update-inputs {
        width: 100%;
    }

    .nav-bar {
        display: none;
    }
}

@media (max-width: 768px) {
    .update-content {
        flex-direction: column;
        align-items: center;
    }

    .info-inputs {
        flex-direction: column;
        align-items: center;
    }

    .update-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .green-button {
        width: 100%;
    }
}
