.feirante-start-page-container {
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
    z-index: 1;
}

.user-image {
    z-index: 2;
}

.page-content {
    min-height: 64vh;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    width: 25%;
}

.info-boxes {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.add-products-or-fairs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 100px 50px 100px 50px;
    box-shadow: 0px 4px 4px #245501;
    margin-right: 4vw;
    margin-left: 4vw;
}

.add-products-or-fairs h1 {
    width: 70%;
    color: #245501;
    padding-bottom: 1vh;
}

.add-products-or-fairs p {
    width: 60%;
    font-size: 1.3rem;
    color: #666666;
    padding-bottom: 5vh;
}

.add-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.add-products,
.add-fairs {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#products-add img,
#fairs-add img {
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 10px;
}

/* .add-products:hover #products-add img {
    transform: scale(1.3);
    transition: all 0.3s;
}

.add-fairs:hover #fairs-add img {
    transform: scale(1.3);
    transition: all 0.3s;
} */

.green-add-icon {
    width: 100%;
    display: flex;
    justify-content: end;
}

.products-icon,
.fairs-icon {
    width: 100px;
}

.feirante-activity {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: white;
}

.half-historic {
    box-shadow: 0px 4px 4px #245501;
    padding: 50px 20px 50px 30px;
}

.half-historic h1 {
    color: #245501;
    padding-bottom: 4vh;
    text-align: center;
}

.half-historic h2 {
    color: #666666;
    font-size: 1.3rem;
}

.money-visibility {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.3vw;
    padding-bottom: 4vh;
}

.money-visibility h1 {
    height: fit-content;
    padding-bottom: 0vh;
    border-radius: 10px;
    transition: all 0.5s;
}

.money-visibility button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.money-visibility button:active {
    background-color: #6666;
    transition: all 0.5s;
}

.sales {
    display: flex;
    align-items: center;
    gap: 3vw;
    color: #666666;
    font-weight: 700;
    font-size: 1rem;
}

.all-historic-button {
    box-shadow: 0px 4px 4px #245501;
    font-size: 0.7rem;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
}

@media(max-width: 1420px) {
    .info-boxes {
        flex-direction: column;
        gap: 4vh;
    }

    .add-products-or-fairs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        box-shadow: 0px 4px 4px #245501;

    }

}

@media(max-width: 980px) {
    .nav-bar {
        display: none;
    }
}

@media(max-width: 768px) {
    .add-products-or-fairs {
        box-shadow: none;
        padding: 0px;

    }

    .add-products,
    .add-fairs {
        width: 120px;
    }

    .products-icon,
    .fairs-icon {
        width: 70px;
    }

    #products-add img,
    #fairs-add img {
        width: 30px;
    }

}
