.add-adress-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-adress-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.add-adress-subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #143601;
    padding-bottom: 5vh;
}

.type-address {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.type {
  display: flex;
  gap: 10px;
}


@media (max-width: 768px) {
    .add-adress-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .add-adress-subtitle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: #143601;
        padding-bottom: 5vh;
        text-align: center;
    }

    .inputs h1 {
        font-size: 1.7rem;
    }
    
}
