.menu-burger-container{
  display: none;
  text-decoration: none;
}

@media(max-width:768px){
  .menu-burger-container{
    display: flex;
  }
  

    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;
      }
      
      /* Color/shape of burger icon bars */
      .bm-burger-bars {
        background: #538D22;
      }
      
      /* Color/shape of burger icon bars on hover*/
      .bm-burger-bars-hover {
        background: #73A942;
      }
      
      /* Position and sizing of clickable cross button */
      .bm-cross-button {
        height: 24px;
        width: 24px;
      }
      
      /* Color/shape of close button cross */
      .bm-cross {
        background: #bdc3c7;
      }
      
      /*
      Sidebar wrapper styles
      Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
      */
      .bm-menu-wrap {
        position: fixed;
        height: 100%;
      }
      
      /* General sidebar styles */
      .bm-menu {
        display: flex;
        justify-content: center;
        text-decoration: none;
        background: #73A942;
        font-size: 2em;
      }
      
      /* Morph shape necessary with bubble or elastic */
      .bm-morph-shape {
        fill: #73A942;
      }
      
      /* Styling of overlay */
      .bm-overlay {
        display: flex;
        background: rgba(0, 0, 0, 0.3);
      }

      /* .my-class{
        background-color: aqua;
        gap: 20px;
      } */
    
}
