* {
    font-family: 'Space Grotesk', sans-serif;
}

.seller-products-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.product-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    border: 2px solid #538D22;
    border-radius: 5px;
    padding: 2vh 5vw 2vh 5vw;
}

.name {
    font-weight: bolder;
    color: #245501;
    font-size: 2.2rem;
}

.image {
    width: 10vw;
}

.unit {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 0.7rem;
    color: #5A5A5A;
}

.price {
    font-weight: bolder;
    color: #245501;
    font-size: 2.2rem;
}

.product-quantity {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw 1vh 1vw;
    gap: 5vw;
}

.number-quantity {
    display: flex;
    gap: 1vw;
}

.text {
    min-width: 6.6vw;
    font-weight: bolder;
    color: #245501;
    font-size: 1.5rem;
}

.amount {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.sub-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    background-image: url(../../imgs/sub_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 3vw;
    height: 5.5vh;
    font-size: 3rem;
    border-radius: 5px;
} 

.number {
    font-weight: 700;
    color: #000;
    font-size: 2.5rem;
}

.add-button {
    width: 3vw;
    height: 5.5vh;
    background-color: #538D22;
    background-image: url(../../imgs/add_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #538D22;
    font-size: 3rem;
    font-weight: lighter;
    color: #fff;
    border-radius: 5px;
}

.edit-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.status-button {
    background-color: #fff;
}

.status-image {
    min-width: 1.7vw;
    height: 5vh;
}