.main-container{
    display: flex;
}
.photo-day-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}
.day-hour-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    width: 46vw;
}
.day-hour-container h2{
    font-size: 1.5rem; 
    font-weight: bold;
    color: #1A4301;
}
.button-container{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
