.input-container{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 2vh 5vw 10vh 5vw;
}

/* .drop-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding-bottom: 3vh;
}

.drop-box select {
  width: fit-content;
  font-size: 1.5rem;
  border: solid 1px #538d22;
  border-radius: 10px;
  padding: 5px;
} */

.days-week-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.days-week-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #245501;
  padding: 0px;
}

.days-week {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.day {
  display: flex;
  gap: 10px;
}

.day label {
  font-size: 1.2rem;
  font-weight: 400;
  color: #245501;
}

#fair-name {
  font-size: 1.3rem;
  color: #255501;
  text-align: justify;
}

@media (max-width:730px) {
  .input-container{
      flex-direction: column;
  }
}
