
.upper-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.lower-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
}
.icon{
    width: 60px;
    height: 60px;
}

.button-container{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 140%;
    height: 50%;

}