.seller-product-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.product-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    border: 2px solid #538D22;
    border-radius: 5px;
    padding: 50px;
}

.name {
    font-weight: bolder;
    color: #245501;
    font-size: 2.2rem;
}

.image {
    width: 10vw;
}

.unit {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    color: #5A5A5A;
}

.price {
    font-weight: bolder;
    color: #245501;
    font-size: 3.5rem;
}

.product-quantity {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1vw 1vh 1vw;
    gap: 5vw;
}

.number-quantity {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.text {
    max-width: 6.6vw;
    font-weight: bolder;
    color: #245501;
    font-size: 1.5rem;
}

.amount{
    width: 100%;
}

.sub-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    background-image: url(../../imgs/sub_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    border-radius: 5px;
} 

.sub-button:hover {
    background-color: #b0b0b0;
}

.sub-button:active {
    background-color: #fff;
    border: 1px solid black;
    transition: all 0s;
}

.number {
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000;
    font-size: 2.5rem;
}

.add-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #538D22;
    background-image: url(../../imgs/add_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #538D22;
    font-size: 3rem;
    font-weight: lighter;
    color: #fff;
    border-radius: 5px;
}

.add-button:hover {
    background-color: #528d227a;
}

.add-button:active {
    background-color: #2c4a14;
    transition: all 0s;
}

.sub-button,
.add-button {
    transition: all 0.5s;
}

.edit-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.status-button {
    background-color: #fff;
    cursor: pointer;
    font-size: 4rem
}

.status-image {
    min-width: 1.7vw;
    height: 5vh;
}