.add-adress-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-adress-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.title {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.add-adress-subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #143601;
    padding-bottom: 5vh;
}
